<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csl.anarres.mapper.DataTypeMapper">
    <resultMap id="caseMap" type="com.csl.anarres.entity.DateTypeEntity">
        <id column="C_ID" property="caseId"></id>
        <result column="LANGUAGE" property="language"></result>

        <result column="CODE" property="code"></result>

        <result column="INPUT" property="input"></result>
        <result column="OUTPUT" property="output"></result>

        <result column="TITLE" property="title"></result>
        <result column="CONTENT" property="content"></result>

        <result column="STATE" property="state"></result>

        <result column="CREATER_ID" property="createrId"></result>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="LAST_MODIFIED_TIME" property="lastModifiedTime"></result>
    </resultMap>
    <sql id="TestCaseColumnAll">
        C_ID,LANGUAGE,CODE,INPUT,OUTPUT,TITLE,CONTENT,STATE,CREATER_ID,CREATE_TIME,LAST_MODIFIED_TIME
    </sql>
    <select id="findDataTypeList" resultMap="caseMap">
        select
        <include refid="TestCaseColumnAll"/>
        from testCase tc
        <where>
            <if test="query.state != null and query.state != ''">
                and tc.STATE = #{query.state}
            </if>
            <if test="query.caseId != null and query.caseId != ''">
                and tc.C_ID = #{query.caseId)
            </if>
        </where>
    </select>
</mapper>