<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.anarres.mapper.ProgramCodeMapper">

    <sql id="programCode">
        P_C_ID,P_ID,LANGUAGE,CODE,CREATER_ID,STATE,CREATE_TIME
    </sql>
    <insert id="insertList" parameterType="java.util.ArrayList">
        insert into programCode(<include refid="programCode"/>)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.programCodeId},
            #{entity.programId},#{entity.language},
            #{entity.code},#{entity.createrId},"01",
            #{entity.createTime})
        </foreach>
    </insert>

    <update id="softDeleteList" parameterType="string">
        update programCode
        <set>
            STATE = "00"
        </set>
        where P_ID = #{programId}
    </update>


</mapper>